$transparent_purple: rgba( 255,84,255 , 0.4 );
$transparent_middle_purple: rgba( 255,0,4 , 0.34 );
$table_middle_purple: rgba( 255,0,0 , 0.4 );
$transparent_maroon: rgba( 255,11,0 , 0.39 );
$transparent_dark_purple: rgba( 198,49,239 , 0.43 );
$transparent_dark_green: rgba( 57,206,16 , 0.2 );
$transparent_deep_green: rgba( 16,160,24 , 0.17 );
$table_light_purple: rgba( 238,238,238 , 0.5 );
$light_purple: #88c;
$green: #006015;
$light_green: #080;
$dark_green: #004f18;
$white: #fff;
$yellow: #ff8;
$black: #000000;
$ocean: #2a93cb;
$gray: #888;
$orange: #f88;
$dark_blue: #00c;
$dark_orange: #f00;