<% provide(:title, @entry.author.name + "さんのプログ") %>
<h1 class="entries-show"><%= @entry.author.name %>さんのプログ</h1>
<h2><%= @entry.title %></h2>

<%= auto_link simple_format(@entry.body) %>
<%= render "footer", entry: @entry %>
