<% provide(:title, 'いいね！したブログ') %>
<div class="voted-blogs">いいね！したブログ一覧</div>

<% if @entries.present? %>
  <ul>
    <% @entries.each do |entry| %>
      <li class="voted-index">
        <%= link_to entry.title, entry %>
        by <%= link_to entry.author.name, [entry.author, :entries] %>
        - <%= link_to "削除", [:unlike, entry], method: :patch,
              data: { confirm: "削除しますか？" } %>
      </li>
    <% end %>
  </ul>
    <%= paginate @entries %>
    <% else %>
      <p>記事がありません。</p>
<% end %>